 body, html{
     margin: 0;
     padding: 0;
     height: 100%;
     background-color: rgb(255, 255, 255);
 }

  .container{
      width: 80%;
      height: 100%;
      background-color: #9dc6fc;
      margin: 0 auto; /*alinhamento*/
      display: grid;
      grid-template-columns: 75% 25%;
      grid-template-rows: 100px auto 150px;
      grid-template-areas: "cabecalho cabecalho"
                           "secao barra-lateral"
                           "rodape rodape";
  }

  header{
    background-color: #87bafd;
    grid-area: cabecalho;
  }
  
  main{
    background-color: #9987fd;
    grid-area: secao;
    display: flex;
    flex-wrap: wrap;
  }

  aside{
    background-color: #ef87fd;
    grid-area: barra-lateral;
  }

  footer{
    background-color: #fd87a5;
    grid-area: rodape;
  }